body {
    background-color: #ddd;
}

#board {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../images/background.jpg");
    /* Always save the image on the computer, use the relative path --> ../ */
    /* Image names: avoid spaces, make logic names */
}

#player {
    background-color: rgb(93, 198, 93);
    position: absolute;
}

.obstacle {
    background-color: rgb(208, 140, 199);
    position: absolute;
}

#score {
    background-color: transparent;
    color: black;
    position: static;
    width: 12vw;
    height: 5vw;
    border: dashed black;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
  
}

#gameover {
    background-color: rgb(224, 184, 224);
    color: white
}

