body {
    background-color: #ddd;
}

#board {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#player {
    background-color: rgb(93, 198, 93);
    position: absolute;
}

.obstacle {
    background-color: rgb(208, 140, 199);
    position: absolute;
}

